@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Roboto&display=swap');

:root {
	--color-primario: #4a90e2;
	--color-secundario: #50e3c2;
	--color-terciario: #f5a623;
	--color-fondo: #f0f0f0;
}

.container-img {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 columnas */
	grid-template-rows: repeat(4, 1fr); /* 4 filas */
	gap: 10px;
}
.card-initial {
	display: grid;
	background: #e0e0e0;
	border-radius: 30px;
}
.card-initial-up {
	grid-column: 1 / 1;
	position: relative;
}
.card-initial-down {
	grid-column: 1 / -1;
	justify-content: center;
	align-items: center;
}
.img-hero {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
}
.card-img {
	display: flex;
	justify-content: center;
	/* position: relative; */
}
.attribute,
.roles {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.img-attribute {
	width: 50px;
	height: auto;
	position: absolute;
	left: 0px;
}
